.env.*.php
.env.php
.env
/api
/app/config
/app/storage
/app/testconfig
composer.phar
composer.lock
.DS_Store
/public/user_uploads
/public/uploads
/public/assets
/public/berdict/img
/public/bootstrap/img
/public/bootstrap/mobile
/public/img
/public/facebook
/public/crop
/public/mobile
/vendor
/user_uploads
/sitemap
/m
.gz
.tar.gz
.sql
.DB
Thumbs.db
app/config/database.php
