/bootstrap/compiled.php
.env.*.php
.env.php
.env
/api
/vendor
composer.phar
composer.lock
.DS_Store
/public/user_uploads
/public
/user_uploads
/sitemap
/app/storage
/app/config/database.php
/m
.gz
.tar.gz
.sql
